[Desktop Entry]
Name=Liri Calculator
GenericName=Calculator
Comment=Perform arithmetic and scientific calculations
Keywords=calculation;arithmetic;scientific;
#TRANSLATIONS
Exec=liri-calculator
Icon=io.liri.Calculator
Terminal=false
Type=Application
StartupNotify=true
Categories=X-Liri;Qt;Utility;Calculator;


# Translations
Icon[ru]=io.liri.Calculator
Name[ru]=Liri калькулятор
Comment[ru]=Выполнение арифметических и научных расчетов
GenericName[ru]=Калькулятор
