[Desktop Entry]
Name=Liri Calculator
GenericName=Calculator
Comment=Perform arithmetic and scientific calculations
Keywords=calculation;arithmetic;scientific;
#TRANSLATIONS
Exec=liri-calculator
Icon=io.liri.Calculator
Terminal=false
Type=Application
StartupNotify=true
Categories=X-Liri;Qt;Utility;Calculator;


# Translations
Icon[lt]=io.liri.Calculator
Name[lt]=Liri skaičiuotuvas
Comment[lt]=Atlikti aritmetinius ir mokslinius skaičiavimus
GenericName[lt]=Skaičiuotuvas
