[Desktop Entry]
Name=Liri Calculator
GenericName=Calculator
Comment=Perform arithmetic and scientific calculations
Keywords=calculation;arithmetic;scientific;
#TRANSLATIONS
Exec=liri-calculator
Icon=io.liri.Calculator
Terminal=false
Type=Application
StartupNotify=true
Categories=X-Liri;Qt;Utility;Calculator;


# Translations
Icon[pt_BR]=io.liri.Calculator
Name[pt_BR]=Liri Calculator
Comment[pt_BR]=Execute cálculos aritméticos e científicos
GenericName[pt_BR]=Calculadora
