[Desktop Entry]
Name=Liri Calculator
GenericName=Calculator
Comment=Perform arithmetic and scientific calculations
Keywords=calculation;arithmetic;scientific;
#TRANSLATIONS
Exec=liri-calculator
Icon=io.liri.Calculator
Terminal=false
Type=Application
StartupNotify=true
Categories=X-Liri;Qt;Utility;Calculator;


# Translations
Icon[da]=io.liri.Calculator
Name[da]=Liri Lommeregner
Comment[da]=Udfør aritmetiske og videnskabelige beregninger
GenericName[da]=Lommeregner
