[Desktop Entry]
Name=Liri Calculator
GenericName=Calculator
Comment=Perform arithmetic and scientific calculations
Keywords=calculation;arithmetic;scientific;
#TRANSLATIONS
Exec=liri-calculator
Icon=io.liri.Calculator
Terminal=false
Type=Application
StartupNotify=true
Categories=X-Liri;Qt;Utility;Calculator;


# Translations
Icon[fr]=io.liri.Calculator
Name[fr]=Calculatrice Liri
Comment[fr]=Effectuer des calculs arithmétiques et scientifiques
GenericName[fr]=Calculatrice
