#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Calculator
Name[ca]=Calculadora
Name[ca@valencia]=Calculadora
Name[cs]=Kalkulačka
Name[de]=Rechner
Name[en_GB]=Calculator
Name[es]=Calculadora
Name[fr]=Calculatrice
Name[it]=Calcolatrice
Name[ko]=계산기
Name[nl]=Rekenmachine
Name[nn]=Kalkulator
Name[pt]=Calculadora
Name[pt_BR]=Calculadora
Name[sk]=Kalkulačka
Name[sl]=Kalkulator
Name[sv]=Räknare
Name[uk]=Калькулятор
Name[zh_CN]=计算器
Name[x-test]=xxCalculatorxx
Comment=A Calculator in Kirigami.
Comment[ca]=Una calculadora escrita en Kirigami.
Comment[ca@valencia]=Una calculadora escrita en Kirigami.
Comment[cs]=Kalkulačka v Kirigami.
Comment[de]=Ein Rechner in Krigami.
Comment[en_GB]=A Calculator in Kirigami.
Comment[es]=Una calculadora en Kirigami.
Comment[fr]=Une calculatrice dans Kirigami.
Comment[it]=Una calcolatrice in Kirigami.
Comment[ko]=Kirigami 기반 계산기입니다.
Comment[nl]=Een rekenmachine in Kirigami.
Comment[nn]=Ein kalkulator i Kirigami
Comment[pt]=Uma calculadora feita com o Kirigami.
Comment[pt_BR]=Uma calculadora feito com o Kirigami.
Comment[sk]=Kalkulačka v Kirigami.
Comment[sl]=Kalkulator v Kirigamiju.
Comment[sv]=En räknare i Kirigami.
Comment[uk]=Калькулятор на Kirigami.
Comment[x-test]=xxA Calculator in Kirigami.xx
Version=1.0
Exec=kalk
Icon=jcalicon
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
PanelBehavor=3
