[Desktop Entry]
Name=Calculator
Comment=A Calculator in Kirigami.
Version=1.0
Exec=kalk
Icon=kalk
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
