[Desktop Entry]
Name=Calculator
Name[x-test]=xxCalculatorxx
Comment=A Calculator in Kirigami.
Comment[x-test]=xxA Calculator in Kirigami.xx
Version=1.0
Exec=kalk
Icon=kalk
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
