[Desktop Entry]
Categories=X-Liri;Qt;Utility;Calculator;
Comment=Perform arithmetic and scientific calculations
Comment[ar]=إجراء عمليات حسابية و علمية
Comment[da]=Udfør aritmetiske og videnskabelige beregninger
Comment[fr]=Effectuer des calculs arithmétiques et scientifiques
Comment[lt]=Atlikti aritmetinius ir mokslinius skaičiavimus
Comment[nl]=Voer rekenkundige en wetenschappelijke berekeningen uit
Comment[pl]=Wykonaj obliczenia arytmetyczne i naukowe
Comment[pt_BR]=Execute cálculos aritméticos e científicos
Comment[ru]=Выполнение арифметических и научных расчетов
Comment[tr]=Aritmetik ve bilimsel hesaplama gerçekleştir
Comment[zh_CN]=执行算术和科学计算
Exec=liri-calculator
GenericName=Calculator
GenericName[ar]=الحاسبة
GenericName[da]=Lommeregner
GenericName[fr]=Calculatrice
GenericName[lt]=Skaičiuotuvas
GenericName[nl]=Rekenmachine
GenericName[pl]=Kalkulator
GenericName[pt_BR]=Calculadora
GenericName[ru]=Калькулятор
GenericName[tr]=Hesap Makinesi
GenericName[zh_CN]=计算器
Icon=io.liri.Calculator
Keywords=calculation;arithmetic;scientific;
Name=Liri Calculator
Name[ar]=حاسبة ليري
Name[da]=Liri Lommeregner
Name[fr]=Calculatrice Liri
Name[lt]=Liri skaičiuotuvas
Name[nl]=Liri Rekenmachine
Name[pl]=Kalkulator Liri
Name[pt_BR]=Liri Calculator
Name[ru]=Liri Калькулятор
Name[tr]=Liri Hesap Makinesi
Name[zh_CN]=Liri计算器
StartupNotify=true
Terminal=false
Type=Application
